
<div class="container">
  <!-- Informações do autor -->
  <div class="author-info">
    <h2>Sobre o autor:</h2>
    <a href="https://github.com/afonsofarias" target="_blank" class="icon-link">
      <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" class="icon">
    </a>
    <a href="https://www.linkedin.com/in/afonso-j-m-farias/" target="_blank" class="icon-link">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/LinkedIn_Logo.svg" alt="LinkedIn" class="icon">
    </a>
  </div>

  <!-- Jogo (mantendo o conteúdo existente do jogo) -->
  <div class="game">
    <!-- Coloque o conteúdo HTML do jogo aqui -->
  </div>
</div>
